:host ::ng-deep .logo {
    width: 120px;
    height: 31px;
    border-radius: 6px;
    margin: 16px 24px 16px 0;
    float: left;
  }

  :host ::ng-deep .head-title{
    line-height: 64px;
    font-size: 2.5em;
    color:#dddddd;
  }

  :host ::ng-deep .ant-menu.ant-menu-vertical.ant-menu-sub  {
    margin-top: 0;
  }
  
