<nz-header>
    <div class="logo"><img src="assets/imgs/logo.png" style="width:100%;height:100%;"></div>

    <div *ngIf="!showMenu">
        <span class="head-title">{{title}}</span>
        <app-head-user></app-head-user>
    </div>


    <ul nz-menu *ngIf="showMenu" [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
        <div style="float:left" *ngFor="let menu of session.menus">
            <li nz-menu-item *ngIf="menu.subMenus.length ==0 " (click)="goPage(menu.path)">
                <i *ngIf="menu.icon" class="anticon" [ngClass]="'anticon-'+menu.icon"></i>{{menu.title}}
            </li>

            <li nz-submenu *ngIf="menu.subMenus.length>0">
                <span title><i *ngIf="menu.icon" class="anticon" [ngClass]="'anticon-'+menu.icon"></i>{{menu.title}}</span>
                <ul>
                    <li nz-menu-item *ngFor="let subMenu of menu.subMenus" (click)="goPage(subMenu.path)">
                        <i *ngIf="subMenu.icon" class="anticon" [ngClass]="'anticon-'+subMenu.icon"></i>{{subMenu.title}}</li>
                </ul>
            </li>
        </div>
        <app-head-user></app-head-user>
    </ul>


</nz-header>