<div class="login" [style.background-image]="'url(' + backgroundImage +')'">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <div nz-form-item class="login-form-title">{{formTitle}}</div>
        <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
                <nz-input formControlName="userName" [ngModel]="userName" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-user"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">用户名不能为空</div>
            </div>
        </div>
        <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
                <nz-input formControlName="password" [ngModel]="password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">密码不能为空</div>
            </div>
        </div>
        <div nz-form-item>
            <div nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登录</button>
            </div>
        </div>
    </form>
</div>