.login{
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

login-title{
    flex: top;
}

.login-form {
    padding: 20px 50px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
  }

  .login-form-title{
    font-size: 3em;
    text-align: center;
    color: #ffffff;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }